*,
*::after,
*::before {
  box-sizing: border-box;
}

/* General Setting */

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.4;
  font-family: "Inter", sans-serif;
}

.display-none {
  display: none;
}

img {
  max-width: 100%;
}

.testinomial-summary {
  font-size: 1.2rem;
}

/* Layout */

.wrapper {
  min-height: 100vh;
}

.curve {
  background-image: url(../images/pattern-curve.svg);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: bottom left;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-direction: column;
  padding: 3em 0;
  text-align: center;
  min-height: 100vh;
}

.testinomial-img-cont {
  order: -1;
}

.testinomial-img {
  width: 85%;
  border-radius: 0.5em;
  box-shadow: 0 20px 50px hsla(240, 38%, 20%, 0.3);
}

/* Bold font */
.bold {
  font-weight: 700;
  margin-bottom: 0;
  color: hsl(240, 38%, 20%);
}

/* Light font */
.light {
  color: hsl(240, 18%, 77%);
  margin-top: 0;
}

.testinomial-info-cont {
  color: #63616f;
  margin-top: 2.5em;
}

.testinomial-info {
  position: relative;
}

/* SVG */

.quoto {
  position: absolute;
  bottom: 95%;
  left: 50%;
  transform: translate(-50%, 45%) scale(0.5);
}

.testinomial-img-cont {
  position: relative;
}

.pattern {
  position: absolute;
  top: -5%;
  left: 0;
  z-index: -1;
  transform: scale(1.1);
}

/* Button */

.switch {
  position: absolute;
  bottom: -5%;
  left: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transform: translateX(-50%);
  border: none;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 10px 20px hsla(240, 38%, 20%, 0.3);
  padding: 0;
  width: 100px;
  height: 50px;
}

.switch:hover {
  box-shadow: 0 20px 30px hsla(240, 38%, 20%, 0.3);
}

/* Media Queries */

@media only screen and (min-width: 400px) {
  .curve {
    background-size: 70%;
  }
}

@media only screen and (min-width: 800px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .flex {
    flex-direction: row;
    text-align: left;
    align-items: center;
  }

  .container {
    width: 90%;
  }

  .testinomial-img-cont {
    order: initial;
    margin-left: -5%;
  }

  .testinomial-info-cont {
    max-width: 700px;
    margin: 0;
    z-index: 1;
  }

  .testinomial-summary {
    display: flex;
  }

  .testinomial-summary > * {
    margin: 0 1em 0 0;
  }

  .pattern {
    left: -6%;
  }

  .quoto {
    margin-left: 20%;
    transform: translate(-50%, 45%) scale(0.5);
  }

  .switch {
    left: 30%;
  }

  .curve {
    background-size: 50%;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 2rem;
  }

  .testinomial-summary {
    font-size: 1.5rem;
  }

  .quote {
    left: 20%;
    bottom: 100%;
    transform: translate(-50%, 35%) scale(1);
  }

  .switch {
    left: 20%;
    bottom: -2%;
  }

  .curve {
    background-size: 40%;
  }
}
